body{
	font-family: 'Josefin Slab', serif;
}

.btn{
	background-color:#65D074;
	height:50px;
	width:250px;
	color:white;
	text-align:center;
	font-size:42px;
	border-radius:2px;
	cursor:pointer;
	margin-right:1px;
	font-family: 'Josefin Slab', serif;
	/*display:inline-block;*/
	padding-top:13px;
}

.controllers{
	display:flex;
}

.back{
	background-color:#BBBBBB;
}

.btncont{
	display:inline-flex;
/*	margin:550 auto;*/
}

.contentcont{
	display:block;
	width:100%;
	margin-left:40px;
	margin-right:40px;
}

.btnmaster{
	margin:0 auto;
	width:501px;
}

p{
	font-family: 'Josefin Slab', serif;
	font-size:20;
	line-height:1.5;
}

.m{
	overflow-y:scroll;
}

.lol{
	border-radius:2px;
/*	border:1px solid lightgray;*/
	/*width:800px;*/
	margin:0 auto;
}

.title{
	font-size:30px;
	font-family: 'Josefin Slab', serif;
	padding-top:10px;
	text-align:center;
	background:transparent;
	margin-bottom:40px;
	margin:0 auto;
}

.lel{
	width:100%;
	margin-right:1px;
	margin-left:1px;
	border-radius:2px;
	border:1px solid lightgray;
	height:200px;
	display:inline-flex;
}

.answers{
	margin-right:1px;
	margin-left:1px;
	height:150px;
	display:inline-flex;
}

.choice{
	min-width:40px;
	max-width:200px;
	height:65px;
	margin:0;
	margin-left:38px;
	margin-right:38px;
	margin-top:25px;
	margin-bottom:25px;
	padding-top:30px;
	padding-left:10px;
	padding-right:10px;
	border-radius:2px;
	cursor:pointer;
	color:#BBBBBB;
}

.choice:hover{
	background-color:#F2F5F5;
}

.selected{
	border:1px solid lightgreen;
}

.content{
	width:100%;
}

.description{
	margin-left:10px;
}