html
  head
    title Register
    link(rel='stylesheet', href='/stylesheets/advisor.css')
    link(href='https://fonts.googleapis.com/css?family=Josefin+Slab', rel='stylesheet', type='text/css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
  body
    .header
      .title Legacy Impact Compass
    .main
      .content
        .registerbox
          p
            | Current Clients
          hr.topline
          .clientbox
            .client
              p.cldescript
                | First client
              p.cldescript
                | asdfjdasdfasdhfasdgaksdf
    .footer
      .copyright
        | © 2015 ISAIAH TAYLOR