html
  head
    title Register
    link(rel='stylesheet', href='/stylesheets/advisor.css')
    link(href='https://fonts.googleapis.com/css?family=Josefin+Slab', rel='stylesheet', type='text/css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet")
    script(src="/javascripts/advisor.js" type="text/javascript")
  body
    .nomen Welcome, #{user} | Log Out
    .header
      .title Legacy Impact Compass
    .main
      .content
        .registerbox
          p.minititle
            | Current Clients
          hr.topline
          .clientbox
            #1.client
              .clientcontainer
                p.cldescript
                  | First client
                p.cldescript
                  | asdfjdasdfasdhfasdgaksdf
                p.iconcont.cldescript
                 i.material-icons.ico.no
                    | check_circle
              #1d.dropdown
            #2.client
              .clientcontainer
                p.cldescript
                  | Second client
                p.cldescript
                  | asdlkfdhyasddgjjjgasd
                p.iconcont.cldescript
                 i.material-icons.ico.yes
                    | check_circle
              #2d.dropdown
    .footer
      .copyright
        | © 2015 ISAIAH TAYLOR