html
  head
    title Register
    link(rel='stylesheet', href='/stylesheets/register.css')
    link(href='https://fonts.googleapis.com/css?family=Josefin+Slab', rel='stylesheet', type='text/css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="/javascripts/register.js")
  body
    .header
    .main
      .content
        .title Welcome to Legacy Impact Compass
        .registerbox
    .footer
      .copyright
        | © 2015 ISAIAH TAYLOR