html
  head
    title My Jesus Flips Tables
    link(rel='stylesheet', href='/stylesheets/mainStyle.css')
    link(href='https://fonts.googleapis.com/css?family=Josefin+Slab', rel='stylesheet', type='text/css')
  body
    .header
    .main
      .content
        .title Welcome to Legacy Impact Compass
        .registerbox
          .formcontainer
            .welcometext Please provide a username and password in their respective fields, as well as the unique Advisor ID of your sponsoring legal consultant.
            form
              input(placeholder="username")
              input(placeholder="password" type="password")
              input(placeholder="ticket")
              input.submit(type="submit" disabled="true")
          .infocontainer
            img(src="/images/grey-profile.jpg")
            .advname John Smith
            .advtext Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi metus felis, porta ut mi vel, consectetur lobortis eros. Nam vel massa lacinia, pharetra massa in, dictum massa. Fusce dapibus tempus enim.
    .footer
      .copyright
        | © 2015 ISAIAH TAYLOR