html
  head
    title Register
    link(rel='stylesheet', href='/stylesheets/options.css')
    link(href='https://fonts.googleapis.com/css?family=Josefin+Slab', rel='stylesheet', type='text/css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="/javascripts/options.js")
  body
    .nomen Welcome, #{user} | Log Out
    .header
      .title Legacy Impact Compass
    .main
      .content
        .optioncontainer
          #sample.option
            .title.optiontitle sample
        button.submit Submit
    .footer
      .copyright
        | © 2015 ISAIAH TAYLOR