doctype html
html(ng-app='theapp')
  head
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/javascripts/mySocket.js')
    link(rel='stylesheet', href='/stylesheets/question.css')
    script(src='/javascripts/jquery.min.js')
    link(href='https://fonts.googleapis.com/css?family=Josefin+Slab', rel='stylesheet', type='text/css')
    script(src='/javascripts/question.js')
    link(rel="stylesheet" href="/css/normalize.css")
    link(rel="stylesheet" href="/css/style.css")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js')
    script(src='/javascripts/appsocket.js')
  body
    .m
      .controllers
        .contentcont
          br
          br
          br
          br
          br
          #controller.lol
            #qtitle.title
              | Sample Question?
            #lel.lel
              .content
                .dashboard.display-animation(id='answers' 0='', auto;='', width:='')
          br
          br
          br
      .btnmaster
        .btncont
          #back.btn.back
            | back
          #next.btn.next
            | next